<!-- get_header('Page Name','Title')-->
<!doctype html>
<html class="no-js" lang="en">
	
<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>globalnostalgia - FAQ</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700" rel="stylesheet">

		<link rel="icon" type="image/png" href="favicon.html">
		<!-- Place favicon.ico in the root directory -->
		<link rel="apple-touch-icon" href="apple-touch-icon.html">
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/jquery-ui.css">

		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/animate.css">
		<link rel="stylesheet" href="/assets/css/iconfont.css">
		<link rel="stylesheet" href="/assets/css/isotope.css">
		<link rel="stylesheet" href="/assets/css/magnific-popup.css">
		<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="/assets/css/vertical-menu.css">
		<link rel="stylesheet" href="/assets/css/navigation.min.css">
		

		<!--For Plugins external css-->
		<link rel="stylesheet" href="/assets/css/plugins.css" />

		<!--Theme custom css -->
		<link rel="stylesheet" href="/assets/css/index.css">

		<!--Theme Responsive css-->
		<link rel="stylesheet" href="/assets/css/responsive.css" />
	</head>
	<body>
	
		<%- include('partials/other_page_header'); -%>
<!-- welcome section -->
<!--breadcumb start here-->
<div class="xs-breadcumb">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html"> Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Frequently Asked Questions</li>
			</ol>
		</nav>
	</div>
</div>
<!--breadcumb end here--><!-- End welcome section -->

<!-- Freequently Asked Questions section -->
<div class="xs-section-padding">
    <div class="container">
        <div class="row xs-faq-group">
            <div class="col-md-6">
                <div class="xs-single-faq">
                    <h5>What is globalnostalgia.com?</h5>
                    <p>globalnostalgia is the leading Business to Consumer e-commerce site. It is an online retail that enables anyone from anywhere in Bangladesh and from around the world to purchase different items/products through online.</p>
                </div><!-- .xs-single-faq END -->
                <div class="xs-single-faq">
                    <h5>I need to sign up before buying any Offer/Product?</h5>
                    <p>globalnostalgia is the leading Business to Consumer e-commerce site. It is an online retail that enables anyone from anywhere in Bangladesh and from around the world to purchase different items/products through online.</p>
                </div><!-- .xs-single-faq END -->
                <div class="xs-single-faq">
                    <h5>What type of products do you sell online?</h5>
                    <p>globalnostalgia is the leading Business to Consumer e-commerce site. It is an online retail that enables anyone from anywhere in Bangladesh and from around the world to purchase different items/products through online.</p>
                </div><!-- .xs-single-faq END -->
                <div class="xs-single-faq">
                    <h5>Is my info safe?</h5>
                    <p>globalnostalgia is the leading Business to Consumer e-commerce site. It is an online retail that enables anyone from anywhere in Bangladesh and from around the world to purchase different items/products through online.</p>
                </div><!-- .xs-single-faq END -->
            </div>
            <div class="col-md-6">
                <div class="xs-single-faq">
                    <h5>Why my card payment is failing?</h5>
                    <p>globalnostalgia is the leading Business to Consumer e-commerce site. It is an online retail that enables anyone from anywhere in Bangladesh and from around the world to purchase different items/products through online.</p>
                </div><!-- .xs-single-faq END -->
                <div class="xs-single-faq">
                    <h5>How do I create an globalnostalgia.com account?</h5>
                    <p>globalnostalgia is the leading Business to Consumer e-commerce site. It is an online retail that enables anyone from anywhere in Bangladesh and from around the world to purchase different items/products through online.</p>
                </div><!-- .xs-single-faq END -->
                <div class="xs-single-faq">
                    <h5>Am I billed as soon as I join globalnostalgia.com?</h5>
                    <p>globalnostalgia is the leading Business to Consumer e-commerce site. It is an online retail that enables anyone from anywhere in Bangladesh and from around the world to purchase different items/products through online.</p>
                </div><!-- .xs-single-faq END -->
                <div class="xs-single-faq">
                    <h5>Why should I subscribe newsletter?</h5>
                    <p>globalnostalgia is the leading Business to Consumer e-commerce site. It is an online retail that enables anyone from anywhere in Bangladesh and from around the world to purchase different items/products through online.</p>
                </div><!-- .xs-single-faq END -->
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</div><!-- end Freequently Asked Questions section -->
<%- include('partials/footer'); -%>
		<!-- js file start -->
		<script src="/assets/js/jquery-3.2.1.min.js"></script>
		<script src="/assets/js/jquery-ui.js"></script>
		<script src="/assets/js/modernizr.js"></script>
		<script src="/assets/js/plugins.js"></script>
		<script src="/assets/js/Popper.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/assets/js/isotope.pkgd.min.js"></script>
		<script src="/assets/js/jquery.magnific-popup.min.js"></script>
		<script src="/assets/js/owl.carousel.min.js"></script>
		<script src="/assets/js/jquery.menu-aim.js"></script>
		<script src="/assets/js/vertical-menu.js"></script>
		<script src="/assets/js/tweetie.js"></script>
		<script src="/assets/js/echo.min.js"></script>
		<script src="/assets/js/jquery.ajaxchimp.min.js"></script>
		<script src="/assets/js/jquery.countdown.min.js"></script>
		<script src="/assets/js/jquery.waypoints.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?v=3&amp;key=AIzaSyCy7becgYuLwns3uumNm6WdBYkBpLfy44k"></script>
		<script src="/assets/js/spectragram.min.js"></script>
		<script src="/assets/js/main.js"></script>		<!-- End js file -->
	</body>
</html>