<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!--Icons CSS-->
  <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <title>Mail verfiy</title>
</head>
<body>

   <div class="container">

      <div class="parent-div p-5 d-flex align-items-center justify-content-center"
          style="margin-top: 15%;margin-bottom: 10%;">
          <div class="child-div w-75 p-5 mx-auto rounded text-center shadow-lg"
              style="background-color:#F5F5F5;">
              <a href ="/">
            <img src="/images/ab.png" alt="ab" style="width:128px;height:128px;">
          </a>
            <br>
            <br>
            <% if(message !== null){%>
                <p class="h3"><%=message %></p>
            <a class="btn btn-primary mt-3 pl-5 pr-5" href="/" role="button">Go To Home</a>
            <%}else{%>
                <p class ="h3"><%=error%></p>
                <a class="btn btn-primary mt-3 pl-5 pr-5" href="/" role="button">Go To Home</a>
            <%}%>
            
          </div>

      </div>

   </div>

   <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>