<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, width=device-width">
      <title>Place your order</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link href="/css/fonts.css" rel="stylesheet">
      <link href="/css/fontawesome-all.min.css" rel="stylesheet">
      <link href="/css/style.css" rel="stylesheet">
   </head>
   <%- include('partials/header.ejs'); %>

   <body>
     <div class="head">
        <div class="logo text-center"><img src="../images/logo.jpg"></div>
      </div>
      <ul class="stebar_list">
            <li class="active completed">
                <span></span>
                <label>SIGN IN</label>
            </li>
             <li class="active completed">
                <span></span>
                <label>DELIVERY & PAYMENT</label>
            </li>
             <li class="active">
                <span></span>
                <label>PLACE ORDER</label>
            </li>
             <li>
                <span></span>
                <label>COMPLETE PAYMENT</label>
            </li>
          </ul>
     <div class="review"><h3>Review Your Order</h3>
      <p>By clicking on the 'Place your order' and Pay button, you agree to Global Nostalgia's <a href="#">Policy notice</a> and <a href="#">Condition of use</a></p>
    </div>
    
          <div class="row">
      <div class="col-lg-8"> 
                  <div class="message"><h3>Important message</h3>
                  <input type="checkbox">   Check this box to default to these delivery options in the future.
                  </div>

        
                   <div class="address-box d-flex justify-content-between align-item-center">
                      <div class="ship-address">
                          <h6>Shipping Address<a href="#"> Change</a></h6>
                              <div class="address">
                               Abhi Rajput
                               <label class="d-block mb-0">M-18<br>
                                     Govind Colony<br>
                                     Mumbai,Maharashtra,246763</label>
                                <span class="d-block">India</span>
                                <span class="d-block">Phone: 9898989898</span>
                                <a href="#"><span class="d-block">Add Delivery Instructions</span></a>
                                <a href="#"><span class="d-block">Deliver to Multiple Addresses</span></a>
                              </div>
                      </div>
                              <div class="payment pl-3">               
                                <h6>Payment method<a href="#"> Change</a></h6>
                                Pay on delivery (Cash/Card)
                              </div>

                              <div class="gift pl-3">
                                <h6>Gift Cards, Voucher & Promotional Codes</h6>
                              <input type="text" name="code" placeholder="Enter code">
                              <button class="btn btn-secondary">Apply Code</button>
                              </div>
                      
                    </div>


                      <div class="delivery-box ">
                            <h4>Delivery date: 10 Oct 2020</h4>
                              <div class="d-flex justify-content-between align-item-center">
                                    <img src="images\maggi.jpg" height="100px" width="200px">
                                <div class="item pl-3">
                                    <b> Maggi 2-Minute Noodles Masala,70g (Pack of 12)</b>    
                                  <span class="d-block">Rs. 140.00</span>   
                                    <span class="d-block"><b>Quantity:</b> 2</span>
                                    <span class="d-block">Sold by: Brand Name</span>
                                </div>
                                <div class="choose">
                                    <h6>Choose a delivery speed</h6>
                                      <input type="radio" name="">Thursday, 8 October  — FREE Delivery on eligible orders
                                      <button class="btn d-block w-100">Continue</button>
                                </div>
                            </div>
                      </div>
          </div>


      
     

     <div class="col-lg-4"> 
        <div class="place-order">
          <a href="order-done.html"><button class="btn w-100">Place your Order</button></a>
          <div class="order-summary">
              <h4>Order Summary</h4>
              <table>
                  <tr>
                    <td>Item:</td>
                    <td></td>
                    <td>222</td>
                  </tr>
                  <tr>
                    <td>Delivery:</td>
                    <td></td>
                    <td>222</td>
                  </tr>
                  <tr>
                    <td>Total:</td>
                    <td></td>
                    <td>222</td>
                  </tr>
                  <tr>
                    <td>Promotion:</td>
                    <td></td>
                    <td>122</td>
                  </tr>
              </table>
              <hr>
                <h6><b>Order Total:</h6><hr>
                Your Savings:</b>
                <ul>
                    <li>FREE Delivery</li>
                    <li>Item Discount</li>

                </ul>
                <a href="#">Details</a>

            </div>
        </div>
      </div>
       </div>

   </div>
     

    

      
   

    
  
</body>
</html>